
$color_primary: #FF7100
$color_primary_light: #FFB376
$color_secondary: #C1EF5A 
$color_tertiary: #4E1FE7
$color_tertiary_light: #B5A3EF

$color_dark: #333
$color_light: #aaa
$color_gray_light: #555
$color_gray_dark: #888

$sp_0: .6rem
$sp_1: .8rem
$sp_2: 1rem
$sp_3: 1.2rem
$sp_4: 1.6rem
$sp_5: 2rem
$sp_6: 2.4rem
$sp_7: 3.2rem
$sp_8: 4rem
$sp_9: 4.8rem
$sp_10: 6rem
$sp_11: 7.2rem
$sp_12: 8.4rem
$sp_13: 10rem
$sp_14: 12rem

$fs_0: 1.2rem
$fs_1: 1.4rem
$fs_2: 1.6rem
$fs_3: 2rem
$fs_4: 2.4rem
$fs_5: 3rem
$fs_6: 3.6rem
$fs_7: 4.8rem
$fs_8: 6.4rem
$fs_9: 8.6rem